<div class="row">
    <div class="col-md-12">
      <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-info text-center" role="alert">
        <%=msg%>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="row">
    <% resumen.forEach( ( cantidad, nombre ) => { %>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <h5 class="card-header bg-info text-white text-center">
                    <%= nombre %>
                </h5>
                <div class="card-body">
                    <p class="card-text text-center">
                        <%= cantidad %>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <% if( nombre == 'clientes' ){ %>
                        <a href="/admin/clientes" class="btn btn-info">Administrar</a>
                    <% } else if( nombre == 'administradores' ){ %>
                        <a href="/admin/administradores" class="btn btn-info">Administrar</a>
                    <% } else if( nombre == 'fotos' ){ %>
                        <a href="/admin/principal" class="btn btn-info">Administrar</a>
                    <% } %>
                </div>
            </div>
        </div>
    <% }) %>
</div>